.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}

.color-selector {
  display: inline-block;
  margin-right: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f7f7f7;
  color: #333;
}

select:hover {
  background-color: #eee;
  cursor: pointer;
}

option {
  background-color: #f7f7f7;
  color: #333;
}

option:hover {
  background-color: #eee;
  cursor: pointer;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-green {
  background-color: green;
}

.color-yellow {
  background-color: yellow;
}

.color-orange {
  background-color: orange;
}

.color-purple {
  background-color: purple;
}
#color-options {
  position: fixed;
  top: 20%;
  right:0;
  transform: translateY(-20%);
  background-color: white;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#color-options label {
  display: block;
  margin-bottom: 10px;
}

#color-options select {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

body {
  background-color: pink;
}
